* {
  font-size: 25px;
  margin: 0;
}

.orange {
  background-color: #f5913e;
  border-top: 2px solid #c9c9c9;
}

.orange:hover {
  background-color: #c88e5f;
}

.orange:active {
  background-color: orange;
}

.gray {
  background-color: #e0e0e0;
  border-top: 2px solid #c9c9c9;
  border-right: 2px solid #c9c9c9;
}

.gray:hover {
  background-color: #b6b6b6;
}

.gray:active {
  background-color: white;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50%;
  height: 50vh;
}

p {
  grid-column: 1 / 5;
  color: white;
  background-color: #858694;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
  margin: 0;
}

button {
  border: none;
}

button:nth-of-type(17) {
  grid-column: 1 / 3;
}
